.aj{
    background-color: brown;
    color: blue;
    display: flex;
    padding: 35px;
}

.section1{
    background-color: aqua;
    color: aliceblue;
    display: flex;
    padding: 45px;
}

.section2{
    background-color: aqua;
    color: bisque;
    display: flex;
    padding: 50px;
}